.main-page-3 {
    margin-bottom: 100px;
    .page-title {
        margin-bottom: 30px;
    }
    .block-info-page-3-1 {
        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
            border: 0;
        }
        .nav-tabs {
            margin-bottom: 20px;
            border-bottom: 0;
            .nav-link {
                padding: 0 8px;
                color: $color-gray-3;
                &.active {
                    color: $color-black;
                }
            }
        } 
        
        .item {
            .image {
                margin-bottom: 20px;
            }
            h3.title {
                margin-bottom: 20px;
            }
            h5 {
                margin-top: 20px;
                font-weight: 400;
                font-size: 1.1rem;
            }
            p {
                font-weight: 300;
            }
        }
    }
    
}
//page 3.2
.main-page-3-2 {
    .block-info-ceo {
        top: 66px; 
        width: 100vw;
        position: relative;
        margin-left: -50vw;
        left: 50%;
        margin-bottom: 150px;
        background-color: #f8f8f8;
        height: 274px;
        .row {
            align-items: center;
            height: 247px;;
        }
        .inner-info-ceo {
            max-width: 980px;
            position: relative;
            margin: 0 auto;
            .info-left {
                font-size: 15px;
                padding-left: 30px;
            }
            .info-right {
                position: absolute;
                right: 0;
                top: -70px;
                img {
                    max-width: 209px;
                }
            } 
            
        }
    }
    .desc-info {
        font-weight: 300;
    }
}

//page 3.3
.main-page-3-3 {
    .desc-color {
        margin-top: 100px;
        li {
            width: 323px;
            height: 323px;
            border-radius: 50%;
            background: #F26522;
            color: #fff;
            text-align: center;
            border: 1px solid transparent;
            .title {
                padding-top: 100px;
            }
            >div {
                width: 100%;
            }
            h4 {
                font-family: 'Nanum Myeongjo', serif;
                text-transform: uppercase;
            }
            &.green {
                background: #1A8636;
                margin-top: -50px;
            }
            &.white {
                background:  #fff;
                border-color: #ddd;
                color: $color-black;
                margin-top: -75px;
            }
        }
    }
}
// Page3-4
.list-product {
    ul.nav {
        display: flex;
        display: -webkit-flex;
        justify-content: flex-start;
        border-bottom: 0;
        margin-bottom: 50px;
        li {
            text-align: center;
            width: 50%;
            font-size: 14px;
            margin-bottom: 10px;
            a {
                color: #898989;
                border: 0;
                border-radius: 0;
                padding: 0 5px;
            }
        }
    }
    .item-product {
        text-align: center;
        margin-bottom: 30px;
        display: inline-block;
        > div {
            padding: 0;
            margin-bottom: 30px;
        }
    }
    .product-banner img {
        margin-bottom: 30px;
    }
}
//Page 3-5
.main-page-3-5 {
    h4.title {
        margin-bottom: 40px;
    }
    .block-require {
        h5.title {
            margin-top: 40px;
        }
        .info-require{
            margin-bottom: 30px;
            margin-top: 20px;
            .col-sm-6 {
                display: flex;
                margin-bottom: 30px;
                .inner {
                    background-color: #f4f4f4;
                    padding: 30px;
                    width: 100%;
                }
            }
        } 
         
        
    }
}
//Page 3-6
.main-page-3-6 {
    .desc-contact {
        margin-bottom: 50px;
        margin-top: 20px;
        p {
            margin-bottom: 5px;
        }
    }
    .desc-info {
        p {
            font-weight: 300;
        }
    }
}