/* color */
$color-black: #000;
$color-white: #fff;
$color-gray: #b8b8b8;
$color-gray-1: #f2f2f2;
$color-gray-2: #2d2d2d;
$color-gray-3: #898989;
$color-gray-6: #666666;
$color-line : $color-gray-1;
$color-gray-10: #bea36b;
$color-red: #d12e3a;
$color-menu-active: $color-gray-10;
/* end color */